doctype html
html
	head
		title typescript-grunt-template
		link(rel='stylesheet', href='css/style.css')
		script(data-main='bootstrap', src='libs/require-2.1.15.js')
		block head
	body
		.page
			.header
			.content
			.footer